body {background-color: #00B1C1;
font-family: Lato, Trebuchet MS, Arial, sans-serif;
line-height: 22px;
font-size: 12px;	
text-align: left;
}

h1, h2, h3, h4, h5, h6, p, div, body {color: #ffffff;
}

h1 { font-size: 20px; text-align: center; padding-top: 2px;
}

h2 { font-size: 16px;
      font-style: italic;
      padding-top: 12px;
}

h3 { font-size: 14px;
       padding-top: 12px;
}

h4 {font-size: 12px;
	padding-top: 3px;
}
	
h5 {font-size: 12px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 15px;
}

h6 {font-size: 12px;
padding-top: 0px;
}

p, div, ol, ul {   background-color: #ffffff;
	font-size: 12px;
	line-height: 18px;	
	text-align: justify;
	padding-top: 6px;
	padding-bottom; 6px;
}

caption { align="bottom", "left";
}

table { font-size: 12px; border="0" cellspacing="6" cellpadding="6";
}

a {	font-size: 12px;
 font-weight: bold; 
text-decoration: none;
}

a:link { 
 color: #ffffff;
}

a:active { color: silver;
}

a:visited { color: #0072CF;
}

a:hover   { text-decoration: underline;
}

.code { font-family: Monaco, Courier, Courier New;
}

.comment { font-size: 10px; font-family: Geneva, Arial, sans-serif;
}

.cited_form { font-style: italic;
}

.eng { color: #F3BD48;
    font-style: italic;
}

.ipa { font-family: Arial Unicode MS, DoulosSIL, Lucida Sans Unicode;
}

.location { color: #FFFFFF; background-color: #FFFFFF; font-size: 1px;
}

.term { font-weight: bold;
}

.title { font-style: italic;
}


